{% extends 'base.html.twig' %}

{% block title %}
	Propriétaires
{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}        
{% for message in app.flashes('failed') %}
    <div class="alert alert-danger">
        {{message}}
    </div>
{% endfor %}
	{% block style %}
		<style>
			body {
				background-color: #FCFCFC;
			}
		</style>
	{% endblock %}
	<main class="container">
		<div class="example-wrapper">
			<div class="proprio-ajout">
				<h1 class="my-4">
					Liste des Propriétaires
				</h1>
			</div>
			<a class="btn btn-primary bouton-ajout button" href="{{ path('admin_proprio_ajout') }}">Ajouter</a>

			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Mail</th>
						<th>Tel.</th>
						<th>Adresse</th>
						<th>Action</th>
						<th></th>


					</tr>
				</thead>
				<tbody>

					{% for leProprio in lesProprio %}
						<tr>
							<td>{{ leProprio.id }}</td>
							<td>{{ leProprio.nom }}</td>
							<td>{{ leProprio.prenom }}</td>
							<td>{{ leProprio.mail }}</td>
							<td>{{ leProprio.tel }}</td>
							<td>{{ leProprio.adresse }}</td>


							<td>
								<a class="btn btn-secondary  bouton-proprietaire" href="{{ path('admin_proprio_modification', { id: leProprio.id }) }}">Modifier</a>
							</td>
							<td>
								<form method="POST" action="{{ path('admin_proprio_suppression', { id: leProprio.id })  }}"  onsubmit="return confirm('Un proprietaire va être supprimé, êtes vous sûr?')">
									<input type="hidden" name="_method" value="delete"/>
									<input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ leProprio.id) }}"/>
									<input type="submit" class="btn btn-danger bouton-proprietaire" value="Supprimer"/>
								</form>
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css" integrity="sha512-w7GJhE5tSJ2kpD/3rWlz6xgZpVEQ6YjfB8/+UJn0e+Wp8IvvsCt/YZ21zTUJlZgjB37U/+4V0Ef7Mhg5QN5A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	{% endblock %}
{% endblock %}
