{% extends 'base.html.twig' %}

{% block title %}Liste des Biens{% endblock %}

{% block body %}

{% block style %}
<style>
  body {
    background-color: white;
  }
</style>
{% endblock %}

<main class="container mt-5">
  <div class="example-wrapper">
    <h1 class="text-center mb-5">Les biens mises en ligne</h1>
    <div class="row">
      {% for bien in biens %}
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <img src="{{asset('images/biens/'~ bien.image ~'')}}" class="card-img-top" alt="Bien image">
          <div class="card-body">
            <h5 class="card-title">{{bien.nbPiece}} pièces - {{bien.surface}} m²</h5>
            <p class="card-text">{{bien.ville}} - {{bien.cp}}</p>
            <h6 class="mb-0">Prix : {{bien.prix}} €</h6>
          </div>
          <div class="card-footer">
            <p><a href="{{path('detailBien',{'id':bien.id})}}" class="btn btn-primary w-100">Voir le détail</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css" integrity="sha512-w7GJhE5tSJ2kpD/3rWlz6xgZpVEQ6YjfB8/+UJn0e+Wp8IvvsCt/YZ21zTUJlZgjB37U/+4V0Ef7Mhg5QN5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% endblock %}