{% extends 'base.html.twig' %}

{% block title %}Liste Biens{% endblock %}



{% block body %}
{% block style %}
<style>
      body {
        background-color: white;
      }
    </style>
    {% endblock %}
    <main class="container">
    <div class="example-wrapper">
      <h1 class="my-4">Biens</h1>
      <div class="row">
{% for bien in biens %}

<div class="col-md-3">
    <img src="{{asset('images/biens/'~ bien.image ~'')}}">
    <p>{{bien.nbPiece}} pièces - {{bien.surface}} m²</p>
    <p>{{bien.ville}} - {{bien.cp}}</p>
    <h2 class="mb-0">Prix : {{bien.prix}} €</h2>
    <p><a href="{{path('detailBien',{'id':bien.id})}}"><button type="button" class="btn btn-primary">Voir le détail</button></a></p>
    </div>
    {% endfor %}
  </div>
</div>
</main>


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css" integrity="sha512-w7GJhE5tSJ2kpD/3rWlz6xgZpVEQ6YjfB8/+UJn0e+Wp8IvvsCt/YZ21zTUJlZgjB37U/+4V0Ef7Mhg5QN5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endblock %}
{% endblock %}
