{% extends 'base.html.twig' %}

{% block title %}Les biens{% endblock %}

{% block body %}
<form action="">
    <button class="btn btn-success" formaction="#">AJOUTER</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>image</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Surface</th>
            <th>Prix</th>
            <th>Ville</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for unBien in lesBiens %}    
        <tr>
            <td><img class="rounded" style="width: 250px" src="{{asset('images/products/'~ unBien.image)}}"></td>
            <td>{{ unBien.titre }}</td>
            <td>{{ unBien.description }}</td>
            <td>{{ unBien.surface }}</td>
            <td>{{ unBien.prix }}</td>
            <td>{{ unBien.ville }}</td>
            <td>
                <div class="d-flex">
                    <form action="#" style="margin-right: 2px">
                        <input type="submit" class="btn btn-outline-primary" value="MODIFIER">
                    </form>
                    <form method="POST" action="#" onsubmit="return confirm('Confirmer la suppression?')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('sup'~ unProduit.id)}}">
                        <input type="submit" class="btn btn-outline-danger" value="SUPPRIMER">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>        
</table>
{% endblock %}
