<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<img src="{{asset('images/immobill.png')}}" id="logo-immobill" style="width:55px;height:55px;">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<div class="elementNav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{path("accueil")}}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path("biens")}}">Biens</a>
					</li>
				</div>
				{% if app.user %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Gestion
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ path('lesBiensAdmin') }}">Biens</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('lesProprietairesAdmin') }}">Propriétaires</a>
							</li>
							<li class="nav-item">
								<a class="dropdown-item" href="{{ path('lesTypesAdmin') }}">Types</a>
							</li>
						</ul>
					</li>
				{% endif %}
				<li
					class="nav-item"><a class="nav-link" href="{{path("lesMembresAdmin")}}">Membres</a>
				</li>
			</ul>
			<ul class="ul-droite">

				<li class="nav-item">

					<span class="navbar-text">

						{% if app.user %}
							<div class="connectee-tant"> Connecté en tant que
							{{ app.user.userIdentifier }}
							- 
							<a class="btn-connexion" href="{{ path('app_logout') }}">Déconnexion</a>
						{% else %}
							<a class="btn-connexion" href="{{ path('app_login') }}">
								Connexion
							</a>
						{% endif %}
					</span>
				</li>

			</ul>
		</div>
	</div>
</nav>
